section.footer-main-section {
    max-width: 1810px;
    margin: 0 auto;
    border: 1px solid rgb(38, 37, 37);
    border-radius: 30px;
    padding: 100px 0px 100px 0px;
    margin-bottom: 35px;
}

.footer-first-div {
    font-size: 104px;
    font-weight: 700;
    line-height: 160px;
    margin-bottom: 32px;
    text-align: center !important;
    color: var(--white);
    font-family: 'Unbounded', sans-serif;
}
a.footer-first-a-tag {
    font-size: 27px;
    max-width: 720px;
    margin: 0 auto;
    padding: 16px 16px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid rgb(38, 37, 37);
}
.footer-second-div {
    padding: 100px 60px;
    margin-top: 60px;
    max-width: 1810px;
    /* margin: 0 auto; */
    border: 1px solid rgb(38, 37, 37);
    border-radius: 30px;
}
.footer-second-inner-div {
    display: flex;
    justify-content: space-between;
}
.footer-second-inner1-div {
    width: 58%;
}
p.footer-second-inner1-inner-p {
    margin-bottom: 40px;
    color: var(--pra);
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0;
    font-family: 'Unbounded', sans-serif;
}
.footer-second-inner1-inner1-div {
    margin-bottom: 40px;
}

.footer-second-inner1-inner1-div a {
    font-size: 18px;
    color: var(--white);
    display: block;
    margin-bottom: 20px;
    font-family: 'Unbounded';
}

.footer-second-inner1-inner2-div {
       gap: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.footer-second-inner1-inner2-div a {
    border: 1px solid var(--cmborder);
    padding: 12px 12px;
    border-radius: 100px;
    color: var(--pra) !important;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    transition: all 0.4s;
    align-items: center;
    text-align: center;
    display: inline;
}

.footer-second-inner1-div form {
    display: flex;
    flex-wrap: wrap;
        gap: 0px 10px;
}

.footer-form-div1 {
    flex: 0 0 auto;
    width: 48%;
    display: flex;
        margin-top: 24px;
}
input[type="text"] {
    width: 100%;
    padding: 18px 28px 19px;
    font-size: 16px;
    color: var(--pra);
    border-radius: 6px;
    border: 1px solid var(--cmborder);
    background: transparent;
    font-weight: 400;
}
.footer-form-div2 {
      flex: 0 0 auto;
    width: 48%;
    display: flex;
        margin-top: 24px;
}
input[type="email"] {
    width: 100%;
    padding: 18px 28px 19px;
    font-size: 16px;
    color: var(--pra);
    border-radius: 6px;
    border: 1px solid var(--cmborder);
    background: transparent;
    font-weight: 400;
}

.footer-form-div3 {
    flex: 0 0 auto;
    width: 100%;
        margin-top: 24px;
}

input[type="Subject"] {
    width: 100%;
    padding: 18px 28px 19px;
    font-size: 16px;
    color: var(--pra);
    border-radius: 6px;
    border: 1px solid var(--cmborder);
    background: transparent;
    font-weight: 400;
}

.footer-form-div4 {
    flex: 0 0 auto;
    width: 100%;
        margin-top: 24px;
}

.footer-second-inner1-div textarea{
      width: 100%;
    padding: 18px 28px 19px;
    font-size: 16px;
    color: var(--pra);
    border-radius: 6px;
    border: 1px solid var(--cmborder);
    background: transparent;
    font-weight: 400;
}

button.footer-form-submit-button {
    border: 1px solid var(--cmborder);
    border-radius: 6px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: var(--white);
    padding: 16px 28px 18px;
    transition: all 0.4s;
    font-family: 'Unbounded',sans-serif;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
button.footer-form-submit-button::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.5s;
    width: 10px;
    background: var(--base);
    opacity: 0;
    background: #ffffff;
    hieght: 100%;
    width: 100% !important;
    border-radius: 0px 10px 0px 0px;
    top: 50%;
    bottom: auto;
    height: 100% !important;
    left: -100% !important;
    z-index: -1;
}

button.footer-form-submit-button:hover:after {
    left: 0 !important;
    top: 0 !important;
    opacity: 1;

}
button.footer-form-submit-button:hover{
    color:black;
}

.footer-form-div5 {
    width: 100%;
    margin-top: 24px;
}

.footer-third-inner-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0;
}

p.footer-third-inner-p {
    font-size: 16px;
    color: var(--pra);
    font-family: 'Unbounded';
}

a.footer-third-inner-a {
    text-decoration: underline;
    font-size: 18px;
    line-height: 1.556;
    color: var(--white);
    font-family: 'Unbounded';
}